<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Encoder/Decoder</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<div class="container">
    <h1>Art-Interface</h1>
    
    <!-- card to contain main form and actions buttons -->
    <div class="card">
        <form action="/process" method="POST">
            <label for="inputText">Enter Text:</label>
            <textarea name="inputText" id="inputText" placeholder="Enter text to encode or decode... eg: [5 &]" required>{{.Input}}</textarea>

            <div class="radio-group">
                <label class="radio-control">
                    <input type="radio" name="action" value="decode" required>
                    Decode
                </label>
                <label class="radio-control">
                    <input type="radio" name="action" value="encode">
                    Encode
                </label>         
            </div>

            <button class="btn" type="submit">Generate</button>

            {{if .Error}}
            <div class="error">{{.Error}}</div>
            {{end}}
        </form>
    </div>
</div>

</body>
</html>