 {{define "title" }} Viewer {{end}} {{define "content"}}
<!-- -------------- Viewing Filtered Categories and Manufacturers -->

<div class="homedata">
    <div class="categoryWrapper">
        <h2>Explore More cars by Their Category</h2>
        <div class="cat-card"> 
            {{range .FilteredCategories}}
                <a class="cat-Item" href="/categories/{{.ID}}">{{.Name}}</a>
            {{end}}
        </div>
    </div>
    <div class="manufacturerWrapper">
        <h2> Explore our cars by Their Manufactures</h2>
        <div class="manu-card">
            {{range .FilteredManufacturers}}
                <a class="manu-items" href="/manufacturers/{{.ID}}">{{.Name}}</a>
            {{end}}
        </div>
    </div>
</div>


<!-- ----------- -->


{{end}} <!-- end define content-->
{{template "layout" . }}  <!-- Inject this block to template layout-->