{{define "content"}}
<h2>{{.Title}}</h2>
{{if .Models}}
{{range .Models}}
    <div style="border:1px solid #ccc; padding:10px; margin:10px;">
        <h3>{{.Name}} ({{.Year}})</h3>
        <p>
            <strong>Maufacturer ID:</strong> {{.ManufacturerID}} <br>
            <strong>Category ID:</strong> {{.CategoryId}} 
        </p>

        <h4>Specifications</h4>
        <ul>
            <li>Engine: {{.Specifications.Engine}}</li>
            <li>Horsepower: {{.Specifications.Horsepower}} HP</li>
            <li>Transmission: {{.Specifications.Transmission}}</li>
            <li>Drivetrain: {{.Specifications.Drivetrain}}</li>
        </ul>
        {{if .Image}}
            <img src="http://localhost:3000/api/images/{{.Image }}" width="200" height="200" >
        {{end}}
    </div>
{{end}} 
{{end}} <!-- end range models-->
{{if .Manufacturers}}
    <table >
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Founded</th>
        </tr>
        {{range .Manufacturers}} 
            <tr>
                <td>{{ .Name}}</td>
                <td>{{ .Country}}</td>
                <td>{{ .FoundingYear}}</td>
            </tr>
        {{end}}
    </table>
{{end}} <!-- End of Manufacturers-->
<!-- ----------- -->
{{end}} <!-- end define content-->